<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <nav class="footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="http://142.103.25.47:8888/?page_id=85">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
